@model Game
@{
	string title = ViewBag.Action + " Game";
	ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
	<div asp-validation-summary="All"
		 class="text-danger">
	</div>

	<div class="form-group">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="Year">Year</label>
		<input asp-for="Year" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="TypesId">Type of Game</label>
		<select asp-for="TypesId" class="form-control">
			<option value="">Select a Type of Game</option>

			@foreach (Types t in ViewBag.Types)
			{
				<option value="@t.TypesId">
					@t.Name
				</option>
			}
		</select>
	</div>

	<div class="form-group">
		<label asp-for="Rating">Rating</label>
		<input asp-for="Rating" class="form-control">
	</div>

	<input type="hidden" asp-for="GameId" />

	<button type="submit" class="btn btn-primary">
		@ViewBag.Action
	</button>
	<a asp-controller="Home" asp-action="VideoGames"
	   class="btn btn-primary">Cancel</a>
</form>