@model Camera
@{
	string title = ViewBag.Action + " Camera";
	ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
	<div asp-validation-summary="All"
		 class="text-danger">
	</div>

	<div class="form-group">
		<label asp-for="Name">Make / Model</label>
		<input asp-for="Name" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="Year">Year</label>
		<input asp-for="Year" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="Sensor">Sensor</label>
		<input asp-for="Sensor" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control">
	</div>

	<div class="form-group">
		<label asp-for="Rating">Rating</label>
		<input asp-for="Rating" class="form-control">
	</div>

	<input type="hidden" asp-for="CameraId" />

	<button type="submit" class="btn btn-primary">
		@ViewBag.Action
	</button>
	<a asp-controller="Home" asp-action="Index"
	   class="btn btn-primary">Cancel</a>
</form>