@{
    ViewData["Title"] = "Cameras";
}

    <div class="text-center">
        <h1 class="jumbotron">Favorite Cameras</h1>
        <p>This Page is to showcase a compilation of Logan's Favorite Cameras.</p>
    </div>

    <div class="content">
        <pre class="col" style="font-size:5px;"> 
            ↑↑↑↑↑↑↑↑↑         
    ↑↑↑   ↑↑↑↑↑↑↑↑↑↑↑↑↑      
↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑        ↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑   ↑↑↑↑↑↑↑
↑↑↑↑↑↑↑   ↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑
↑↑↑↑↑↑↑   ↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑
↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑   ↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑        ↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
                        </pre>
    </div>