@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="jumbotron">Web Server Application Final Project</h1>
    <p>Created by Logan Freeman and Jonathon Leicht.</p>
</div>
