@{
    ViewData["Title"] = "Home Page";
}

    <br>

    <div class="text-center divider">
        <h1 class="jumbotron">Web Server Application Final Project</h1>
        <p>Created by Logan Freeman and Jonathon Leicht.</p>
    </div>

    <br>

    <div class="content">
        Welcome to our Web Server Application Final Project, where we showcase our interests and hobbies. 

    </div>

    <div class="content container divider">
        <div class="row">
            <p class="col">Learn more about Logan:</p>
            <p class="col">Learn more about Jonathon:</p>
        
        </div>
        <div class="row">
            <a class="btn-content col nav-link" style="font-size:30px;" asp-area="" asp-controller="Home" asp-action="Logan">Logan</a>
            <a class="btn-content col nav-link" style="font-size:30px;" asp-area="" asp-controller="Home" asp-action="Jonathon">Jonathon</a>
        </div>
        <br>
    </div>