@{
    ViewData["Title"] = "Jonathon";
}

<div class="text-center">

    <h1 class="jumbotron divider">Jonathon Leicht</h1>

    <div class="content divider">
        <p class="divider">

            I am currently pursuing a Bachelor of Science in Information Technology at the University of Cincinnati,
            <br>
            with specializations in Cybersecurity and Software Application Development.

        </p>

        <br>

        <div class="container">
            <div class="row">
                <p class="col">Learn more about my Favorite Movies:</p>
                <p class="col">Learn more about my Favorite Videogames:</p>

            </div>
            <div class="row">
                <a class="btn-content col nav-link" asp-area="" asp-controller="Home" asp-action="Movies">Movies</a>
                <a class="btn-content col nav-link" asp-area="" asp-controller="Home" asp-action="Videogames">Videogames</a>
            </div>
            <div class="row">
                <pre class="col" style="font-size:10px;"> 
  0000000   0000000        
00↑↑0 0↑↑000↑↑0 0↑↑00      
0↑↑0   0↑↑↑↑↑0   0↑↑0      
00↑↑0 0↑↑000↑0 0↑↑00       
  0↑↑0↑↑0   0↑↑0↑↑0        
 0↑↑↑↑↑↑↑000↑↑↑↑↑↑↑00  0000
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑00↑↑↑0
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑0
 0↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑00↑↑↑0
 00000000000000000000  0000
                </pre>
                <pre class="col" style="font-size:10px;"> 
      0000            0000     
     0↑↑↑↑000000000000↑↑↑↑0     
   00↑↑↑000↑↑↑↑↑↑↑↑↑↑↑00↑↑↑00   
  0↑↑↑00  00↑↑↑↑↑↑↑↑00  00↑↑↑0  
 0↑↑↑0      0↑↑↑↑↑↑0  00  0↑↑↑0 
0↑↑↑↑↑00  00↑↑↑↑↑↑↑↑00  00↑↑↑↑↑0
0↑↑↑↑↑↑↑000↑↑↑↑↑↑↑↑↑↑↑00↑↑↑↑↑↑↑0
 0↑↑↑↑↑↑↑↑↑0000000000↑↑↑↑↑↑↑↑↑0 
 0↑↑↑↑↑↑↑00          00↑↑↑↑↑↑↑0 
  0↑↑↑↑↑0              0↑↑↑↑↑0  
   0↑↑↑0                0↑↑↑0   
    000                  000     
                </pre>
            </div>
        </div>

        <br>
        <img src="~/images/jon.jpg" style="text-align:center; height:500px" />
        <br>
        <br>

        <div class="row">
            <a class="btn-content col nav-link" asp-area="" asp-controller="Action" asp-action="JonathonLinkedIn" target="_blank">Jonathon's LinkedIn</a>
        </div>
        <div class="row">
    </div>
</div>