@{
    ViewData["Title"] = "Jonathon";
}

<div class="text-center">
    <h1 class="jumbotron">Jonathon Leicht</h1>
    <p>Page for Jonathon's Information</p>

    <img src="~/images/jon.jpg" style="text-align:center; height:500px" />
</div>
