@{
    ViewData["Title"] = "Logan";
}

<div class="text-center">

    <h1 class="jumbotron divider">Logan Freeman</h1>

    <div class="LoganStyle divider">
        <p class="divider">
    
            I am currently pursuing a Bachelor of Science in Information Technology at the University of Cincinnati,
            <br>
            with specializations in Software Application Development and Network Systems.

        </p>

        <br>

        <div class="container">
            <div class="row">
                <p class="col">Learn more about my Photography Hobby:</p>
                <p class="col">Learn more about my Favorite Locations:</p>
        
            </div>
            <div class="row">
                <a class="btn-content col nav-link" asp-area="" asp-controller="Home" asp-action="Cameras">Cameras</a>
                <a class="btn-content col nav-link" asp-area="" asp-controller="Home" asp-action="Places">Locations</a>
            </div> 
            <div class="row">
                <pre class="col" style="font-size:10px;"> 
         ↑↑↑↑↑↑↑↑↑         
  ↑↑↑   ↑↑↑↑↑↑↑↑↑↑↑↑↑      
↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑        ↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑   ↑↑↑↑↑↑↑
↑↑↑↑↑↑↑   ↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑
↑↑↑↑↑↑↑   ↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑
↑↑↑↑↑↑↑↑   ↑↑↑↑↑↑   ↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑        ↑↑↑↑↑↑↑↑↑
↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
                </pre>
                <pre class="col" style="font-size:10px;"> 
     ↑↑↑↑↑↑↑↑↑↑     
  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑  
 ↑↑↑↑↑↑↑↑  ↑↑↑↑↑↑↑↑ 
↑↑↑↑↑↑↑      ↑↑↑↑↑↑↑
↑↑↑↑↑↑↑      ↑↑↑↑↑↑↑
 ↑↑↑↑↑↑↑↑  ↑↑↑↑↑↑↑↑ 
  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑  
    ↑↑↑↑↑↑↑↑↑↑↑↑    
      ↑↑↑↑↑↑↑↑      
       ↑↑↑↑↑↑       
        ↑↑↑↑        
         ↑↑         
                </pre>
            </div>
        </div>
        
        <br>

    </div>
</div>
