@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="jumbotron">Favorite Movies</h1>
    <p>This Page is to showcase a compilation of Jonathon's favorite movies.</p>
</div>