@{
    ViewData["Title"] = "Placeholder";
}

<div class="text-center">
    <h1 class="jumbotron">Favorite Placeholder</h1>
    <p>This Page is to showcase a compilation of favorite place.</p>



</div>