@model List<Game>
@{
    ViewData["Title"] = "Video Games";
}

<div class="text-center">
    <h1 class="jumbotron">Favorite Video Games</h1>
    <p>This Page is to showcase a compilation of favorite video games.</p>

	<div class="content">

		<pre class="divider" style="font-size:5px; font-weight: bold;">
      0000            0000     
     0↑↑↑↑000000000000↑↑↑↑0     
   00↑↑↑000↑↑↑↑↑↑↑↑↑↑↑00↑↑↑00   
  0↑↑↑00  00↑↑↑↑↑↑↑↑00  00↑↑↑0  
 0↑↑↑0      0↑↑↑↑↑↑0  00  0↑↑↑0 
0↑↑↑↑↑00  00↑↑↑↑↑↑↑↑00  00↑↑↑↑↑0
0↑↑↑↑↑↑↑000↑↑↑↑↑↑↑↑↑↑↑00↑↑↑↑↑↑↑0
 0↑↑↑↑↑↑↑↑↑0000000000↑↑↑↑↑↑↑↑↑0 
 0↑↑↑↑↑↑↑00          00↑↑↑↑↑↑↑0 
  0↑↑↑↑↑0              0↑↑↑↑↑0  
   0↑↑↑0                0↑↑↑0   
    000                  000     
		</pre>


		<h2>Game List</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Year</th>
					<th>Type</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var game in Model)
				{
					<tr>
						<td>@game.Name</td>
						<td>@game.Year</td>
						<td>@game.Type.Name</td>
						<td>@game.Rating</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>